<template>
	<v-form @submit.prevent @submit="addProduct" ref="form" method="POST" style="margin: 0 20%;">
		<v-text-field label="Name" v-model="name" :rules="rules.required"></v-text-field>
		<v-text-field label="Price" v-model="price" :rules="rules.required"></v-text-field>

		<v-select
			v-if="!isNewCategory"
			label="Category"
			item-text="name"
			item-value="id"
			v-model="categoryId"
			:items="categories"
			:rules="rules.required"></v-select>
		<v-text-field
			v-if="isNewCategory"
			label="New Category Name"
			v-model="newCategoryName"
			:rules="rules.required"></v-text-field>
		<v-checkbox v-model="isNewCategory" label="Create new category"></v-checkbox>

		<v-select
			v-if="!isNewManufacturer"
			label="Manufacturer"
			item-text="name"
			item-value="id"
			v-model="manufacturerId"
			:items="manufacturers"
			:rules="rules.required"></v-select>
		<v-text-field
			v-if="isNewManufacturer"
			label="New Manufacturer Name"
			v-model="newManufacturerName"
			:rules="rules.required"></v-text-field>
		<v-checkbox v-model="isNewManufacturer" label="Create new manufacturer"></v-checkbox>

		<v-file-input label="Photo" accept="image/*" @change="changePhoto"></v-file-input>

		<v-btn :loading="addProductInProgress" color="info" type="submit" class="mt-3">Add Product</v-btn>

		<v-alert v-if="errors.formError" type="error" class="mt-9">{{ errors.formError }}</v-alert>
	</v-form>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import router from '@/router/index'
import { serverURL } from '@/Config'

export default {
	name: 'AddProductAdmin',
	data: () => ({
		name: '',
		price: '',

		categoryId: '',
		isNewCategory: false,
		newCategoryName: '',

		manufacturerId: '',
		isNewManufacturer: false,
		newManufacturerName: '',

		photo: null,

		addProductInProgress: false,

		rules: {
			required: [ value => Boolean(value) || 'This field is required' ]
		},

		errors: {
			name: '',
			price: '',
			newCategoryName: '',
			newManufacturerName: '',
			formError: ''
		}
	}),
	computed: {
		...mapGetters({
			user: 'getUser',

			productsDataLoaded: 'getProductsDataLoaded',
			products: 'getProducts',
			categories: 'getCategories',
			manufacturers: 'getManufacturers'
		})
	},
	mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}

		if (!this.productsDataLoaded) {
			this.getProductsData()
		}
	},
	methods: {
		...mapActions({
			getProductsData: 'getProductsData'
		}),

		changePhoto(file) {
			this.photo = file;
		},

		resetErrors() {
			this.errors = {
				name: '',
				price: '',
				newCategoryName: '',
				manufacturerName: '',
				formError: ''
			}
		},

		addProduct() {
			this.resetErrors();

			if (!this.$refs.form.validate()) return

			let form = new FormData();

			form.append('name', this.name);
			form.append('price', this.price);

			form.append('categoryId', this.categoryId);
			form.append('isNewCategory', this.isNewCategory);
			form.append('newCategoryName', this.newCategoryName);

			form.append('manufacturerId', this.manufacturerId);
			form.append('isNewManufacturer', this.isNewManufacturer);
			form.append('newManufacturerName', this.newManufacturerName);

			form.append('photo', this.photo);

			this.addProductInProgress = true;
			axios.post(`${serverURL}/admin/products/add`, form, {
				withCredentials: true
			}).then(response => {
				this.addProductInProgress = false;

				if (response.data.status == 'success') {
					this.getProductsData().then(() => router.push({ name: 'Admin' }));
				} else {
					this.errors.formError = response.data.message;
				}
			}).catch(error => {
				console.dir(error);
				
				this.addProductInProgress = false;

				this.errors.formError = 'Something went wrong';
			})
		}
	}
}
</script>
