<template>
	<div v-if="productsDataLoaded" style="max-width: 100% !important; margin: 0;">
		<Navbar />

		<v-row v-for="category in categoriesToShow" :key="category.id">
			<v-col cols="12" md="8">
				<v-text-field :value="category.name" @keyup="($event) => changeCategoryToShow(category.id, $event.target.value)" outlined></v-text-field>
			</v-col>
			<v-col cols="12" md="2">
				<v-btn @click="() => updateCategory(category.id)" color="info">Update</v-btn>
			</v-col>
			<v-col cols="12" md="2">
				<v-btn @click="() => deleteCategory(category.id)" color="red">Delete</v-btn>
			</v-col>
		</v-row>
	</div>
	<div v-else>
		<Loading />
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import { deepCopy } from '@/Helpers'
import Loading from '@/components/Loading'
import Navbar from '@/components/admin/Navbar'
import { serverURL } from '@/Config'

export default {
	name: 'CategoriesAdmin',
	components: {
		Loading,
		Navbar
	},
	data: () => ({
		categoriesToShow: []
	}),
	computed: {
		...mapGetters({
			user: 'getUser',
			
			productsDataLoaded: 'getProductsDataLoaded',
			categories: 'getCategories'
		})
	},
	async mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}

		if (!this.productsDataLoaded) {
			await this.getProductsData();
		}

		this.categoriesToShow = deepCopy(this.categories);
	},
	methods: {
		...mapActions({
			getProductsData: 'getProductsData'
		}),

		changeCategoryToShow(categoryId, newCategoryName) {
			for (let i in this.categoriesToShow) {
				if (this.categoriesToShow[i].id == categoryId) {
					this.categoriesToShow[i].name = newCategoryName;
				}
			}
		},

		async updateCategory(categoryId) {
			let category = this.categoriesToShow.find(category => category.id == categoryId);

			await axios.post(`${serverURL}/update_category`, {
				category_id: categoryId,
				new_category_name: category.name
			}, {
				withCredentials: true
			}).then(async () => {
				await this.getProductsData();
			})
		},

		async deleteCategory(categoryId) {
			await axios.post(`${serverURL}/delete_category`, {
				category_id: categoryId
			}, {
				withCredentials: true
			}).then(async () => {
				await this.getProductsData();
				this.categoriesToShow = deepCopy(this.categories);
			})
		}
	}
}
</script>
