<template>
	<v-form @submit.prevent @submit="addProduct" ref="form" method="POST" style="margin: 0 20%;">
		<v-text-field label="Name" v-model="product.name" :rules="rules.required"></v-text-field>
		<v-text-field label="Price" v-model="product.price" :rules="rules.required"></v-text-field>

		<v-select
			v-if="!product.isNewCategory"
			label="Category"
			item-text="name"
			item-value="id"
			v-model="product.categoryId"
			:items="categories"
			:rules="rules.required"></v-select>
		<v-text-field
			v-if="product.isNewCategory"
			label="New Category Name"
			v-model="product.newCategoryName"
			:rules="rules.required"></v-text-field>
		<v-checkbox v-model="product.isNewCategory" label="Create new category"></v-checkbox>

		<v-select
			v-if="!product.isNewManufacturer"
			label="Manufacturer"
			item-text="name"
			item-value="id"
			v-model="product.manufacturerId"
			:items="manufacturers"
			:rules="rules.required"></v-select>
		<v-text-field
			v-if="product.isNewManufacturer"
			label="New Manufacturer Name"
			v-model="product.newManufacturerName"
			:rules="rules.required"></v-text-field>
		<v-checkbox v-model="product.isNewManufacturer" label="Create new manufacturer"></v-checkbox>

		<v-file-input label="Change photo" accept="image/*" @change="changePhoto"></v-file-input>

		<v-btn :loading="editProductInProgress" color="info" type="submit" class="mt-3">Edit product</v-btn>

		<v-alert v-if="errors.formError" type="error" class="mt-9">{{ errors.formError }}</v-alert>
	</v-form>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import { serverURL } from '@/Config'

export default {
	name: 'EditProductAdmin',
	data: () => ({
		product: {
			id: '',

			name: '',
			price: '',

			categoryId: '',
			isNewCategory: false,
			newCategoryName: '',

			manufacturerId: '',
			isNewManufacturer: false,
			newManufacturerName: '',

			photo: null,
		},

		editProductInProgress: false,

		rules: {
			required: [ value => Boolean(value) || 'This field is required' ]
		},

		errors: {
			name: '',
			price: '',
			newCategoryName: '',
			newManufacturerName: '',
			formError: ''
		}
	}),
	computed: {
		...mapGetters({
			user: 'getUser',

			productsDataLoaded: 'getProductsDataLoaded',
			products: 'getProducts',
			categories: 'getCategories',
			manufacturers: 'getManufacturers'
		})
	},
	async mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}

		if (!this.productsDataLoaded) {
			await this.getProductsData();
		}

		for (let product of this.products) {
			if (product.id == this.$route.params.productId) {
				this.product.id = product.id;
				this.product.name = product.name;
				this.product.price = product.price;
				this.product.categoryId = product.category.id;
				this.product.manufacturerId = product.manufacturer.id;

				break;
			}
		}
	},
	methods: {
		...mapActions({
			getProductsData: 'getProductsData'
		}),

		changePhoto(file) {
			this.product.photo = file;
		},

		resetErrors() {
			this.errors = {
				name: '',
				price: '',
				newCategoryName: '',
				manufacturerName: '',
				formError: ''
			}
		},

		addProduct() {
			this.resetErrors();

			if (!this.$refs.form.validate()) return

			let form = new FormData();

			form.append('product_id', this.product.id);

			form.append('name', this.product.name);
			form.append('price', this.product.price);

			form.append('category_id', this.product.categoryId);
			form.append('is_new_category', this.product.isNewCategory);
			form.append('new_category_name', this.product.newCategoryName);

			form.append('manufacturer_id', this.product.manufacturerId);
			form.append('is_new_manufacturer', this.product.isNewManufacturer);
			form.append('new_manufacturer_name', this.product.newManufacturerName);

			form.append('photo', this.product.photo);

			this.editProductInProgress = true;
			axios.post(`${serverURL}/admin/products/edit`, form, {
				withCredentials: true
			}).then(async (response) => {
				this.editProductInProgress = false;

				if (response.data.status == 'success') {
					await this.getProductsData();
					this.$router.push({ name: 'Admin' });
				} else {
					this.errors.formError = response.data.message;
				}
			}).catch(error => {
				console.dir(error);
				
				this.editProductInProgress = false;

				this.errors.formError = 'Something went wrong';
			})
		}
	}
}
</script>
