<template>
	<div v-if="productsDataLoaded" style="max-width: 100% !important; margin: 0;">
		<Navbar />

		<v-row v-for="manufacturer in manufacturersToShow" :key="manufacturer.id">
			<v-col cols="12" md="8">
				<v-text-field :value="manufacturer.name" @keyup="($event) => changeManufacturerToShow(manufacturer.id, $event.target.value)" outlined></v-text-field>
			</v-col>
			<v-col cols="12" md="2">
				<v-btn @click="() => updateManufacturer(manufacturer.id)" color="info">Update</v-btn>
			</v-col>
			<v-col cols="12" md="2">
				<v-btn @click="() => deleteManufacturer(manufacturer.id)" color="red">Delete</v-btn>
			</v-col>
		</v-row>
	</div>
	<div v-else>
		<Loading />
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import { deepCopy } from '@/Helpers'
import Loading from '@/components/Loading'
import Navbar from '@/components/admin/Navbar'
import { serverURL } from '@/Config'

export default {
	name: 'ManufacturersAdmin',
	components: {
		Loading,
		Navbar
	},
	data: () => ({
		manufacturersToShow: []
	}),
	computed: {
		...mapGetters({
			user: 'getUser',
			
			productsDataLoaded: 'getProductsDataLoaded',
			manufacturers: 'getManufacturers'
		})
	},
	async mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}

		if (!this.productsDataLoaded) {
			await this.getProductsData();
		}

		this.manufacturersToShow = deepCopy(this.manufacturers);
	},
	methods: {
		...mapActions({
			getProductsData: 'getProductsData'
		}),

		changeManufacturerToShow(ManufacturerId, newManufacturerName) {
			for (let i in this.manufacturersToShow) {
				if (this.manufacturersToShow[i].id == ManufacturerId) {
					this.manufacturersToShow[i].name = newManufacturerName;
				}
			}
		},

		async updateManufacturer(manufacturerId) {
			let manufacturer = this.manufacturersToShow.find(manufacturer => manufacturer.id == manufacturerId);

			await axios.post(`${serverURL}/update_manufacturer`, {
				manufacturer_id: manufacturerId,
				new_manufacturer_name: manufacturer.name
			}, {
				withCredentials: true
			}).then(async () => {
				await this.getProductsData();
			})
		},

		async deleteManufacturer(manufacturerId) {
			await axios.post(`${serverURL}/delete_manufacturer`, {
				manufacturer_id: manufacturerId
			}, {
				withCredentials: true
			}).then(async () => {
				await this.getProductsData();
				this.manufacturersToShow = deepCopy(this.manufacturers);
			})
		}
	}
}
</script>
