<template>
	<div class="mt-n8 mb-8">
		<v-app-bar dark style="padding: 0 10%">
			<v-toolbar-title>Secondhand Admin</v-toolbar-title>

			<template v-slot:extension>
				<v-tabs>
					<v-tab :to="{ name: 'Products Admin' }">
						Products
					</v-tab>
					<v-tab :to="{ name: 'Categories Admin' }">
						Categories
					</v-tab>
					<v-tab :to="{ name: 'Manufacturers Admin' }">
						Manufacturers
					</v-tab>
					<v-tab :to="{ name: 'Statistics Admin' }">
						Statistics
					</v-tab>
					<v-tab :to="{ name: 'Reports Admin' }">
						Reports
					</v-tab>
				</v-tabs>
			</template>
		</v-app-bar>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'Navbar',
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	}
}
</script>
