<template>
	<div v-if="productsDataLoaded" style="max-width: 100% !important; margin: 0;">
		<Navbar />

		<div class="mb-5" style="text-align: center;">
			<v-btn :to="{ name: 'Add Product Admin' }" fab style="font-size: 1.8em;" color="info">+</v-btn>
		</div>

		<v-card v-for="product in products" :key="product.id" class="ma-3 pa-3" style="display: inline-block;" min-width="250">
			<v-img :src="product.photo_path" alt="Product image" aspect-ratio="1" />

			<h1 style="display: inline;">{{ product.name }}</h1>

			<h2 style="font-weight: 500;">${{ product.price }}</h2>

			<h3 style="font-weight: 400;">{{ product.category.name }}</h3>
			<h3 style="font-weight: 400;">{{ product.manufacturer.name }}</h3>
			
			<h3><router-link :to="{ name: 'Edit Product Admin', params: { productId: product.id } }" style="text-decoration: none;">Edit</router-link></h3>
			<h3 @click="() => deleteProduct(product.id)" style="color: red; cursor: pointer;">Delete</h3>
		</v-card>
	</div>
	<div v-else>
		<Loading />
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import Loading from '@/components/Loading'
import Navbar from '@/components/admin/Navbar'
import { serverURL } from '@/Config'

export default {
	name: 'ProductsAdmin',
	components: {
		Loading,
		Navbar
	},
	computed: {
		...mapGetters({
			user: 'getUser',
			
			productsDataLoaded: 'getProductsDataLoaded',
			products: 'getProducts'
		})
	},
	async mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}

		if (!this.productsDataLoaded) {
			await this.getProductsData();
		}
	},
	methods: {
		...mapActions({
			getProductsData: 'getProductsData'
		}),

		async deleteProduct(productId) {
			await axios.post(`${serverURL}/admin/products/delete`, {
				product_id: productId
			}, {
				withCredentials: true
			}).then(async () => {
				await this.getProductsData();
			})
		}
	}
}
</script>
