<template>
	<div>
		<Navbar />

		<h1>
			Products:
			<v-btn @click="createAndDownloadProductsReport" color="info">Get</v-btn>
		</h1>
		<h1>
			Products by categories:
			<v-btn @click="createAndDownloadProductsByCategoriesReport" color="info">Get</v-btn>
		</h1>
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

import Navbar from '@/components/admin/Navbar'
import { serverURL } from '@/Config'

export default {
	name: 'ReportsAdmin',
	components: {
		Navbar
	},
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}
	},
	methods: {
		async createAndDownloadProductsByCategoriesReport() {
			await axios.post(`${serverURL}/admin/get_products_by_categories_report`, {}, {
				withCredentials: true
			}).then(async (response) => {
				location.href = response.data.report_url;
			})
		},

		async createAndDownloadProductsReport() {
			await axios.post(`${serverURL}/admin/get_products_report`, {}, {
				withCredentials: true
			}).then(async (response) => {
				location.href = response.data.report_url;
			})
		},
	}
}
</script>
