<template>
	<div v-if="chartsDataLoaded" style="max-width: 100% !important; margin: 0;">
		<Navbar />

		<h1>Average product price by categories</h1>
		<GChart type="ColumnChart" :data="averagePriceByCategories" />

		<h1>Average product price by manufacturers</h1>
		<GChart type="ColumnChart" :data="averagePriceByManufacturers" />

		<h1>Average product storage time by categories</h1>
		<GChart type="ColumnChart" :data="averageStorageTimeByCategories" />

		<h1>Total purchase cost by users</h1>
		<GChart type="ColumnChart" :data="totalPurchaseCostByUsers" />
	</div>
	<div v-else>
		<Loading />
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
import { GChart } from 'vue-google-charts'

import Loading from '@/components/Loading'
import Navbar from '@/components/admin/Navbar'
import { serverURL } from '@/Config'

export default {
	name: 'StatisticsAdmin',
	components: {
		Loading,
		Navbar,
		GChart
	},
	data: () => ({
		chartsDataLoaded: false,

		averagePriceByCategories: [],
		averagePriceByManufacturers: [],
		averageStorageTimeByCategories: [],
		totalPurchaseCostByUsers: []
	}),
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	async mounted() {
		if (!this.user.isAdmin) {
			this.$router.push({ name: 'Home' });
		}

		await axios.post(`${serverURL}/admin/get_statistics`, {}, {
			withCredentials: true
		}).then(response => {
			this.averagePriceByCategories = response.data.average_price_by_categories;
			this.averagePriceByManufacturers = response.data.average_price_by_manufacturers;
			this.averageStorageTimeByCategories = response.data.average_storage_time_by_categories;
			this.totalPurchaseCostByUsers = response.data.total_purchase_cost_by_users;

			this.chartsDataLoaded = true;
		})
	},
	methods: {
		...mapActions({
			getProductsData: 'getProductsData'
		})
	}
}
</script>
