<template>
	<div>
		<v-card v-for="product in user.basket.products" :key="product.id" class="ma-3 pa-3" style="display: inline-block;" min-width="250">
			<v-img :src="product.photo_path" alt="Product image" aspect-ratio="1" />

			<h1 style="display: inline;">{{ product.name }}</h1>
			<v-icon @click="() => removeProductFromBasket(product.id)" class="mb-3 ml-3" color="blue">mdi-basket-minus-outline</v-icon>

			<h2 style="font-weight: 500;">${{ product.price }}</h2>

			<h3 style="font-weight: 400;">{{ product.category.name }}</h3>
			<h3 style="font-weight: 400;">{{ product.manufacturer.name }}</h3>
		</v-card>

		<div class="mt-5" style="text-align: center;">
			<v-btn v-if="user.basket.products.length > 0" :loading="confirmPurchaseInProcess" @click="confirmPurchase" color="info">Confirm Purchase</v-btn>
			<h1 v-else>Basket is empty</h1>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import { serverURL } from '@/Config'

export default {
	name: 'Basket',
	data: () => ({
		confirmPurchaseInProcess: false
	}),
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	methods: {
		...mapActions({
			getUserData: 'getUserData',
			getProductsData: 'getProductsData'
		}),

		removeProductFromBasket(productId) {
			axios.post(`${serverURL}/products/remove_from_basket`, {
				product_id: productId
			}, {
				withCredentials: true
			}).then(() => {
				this.getUserData();
				this.getProductsData();
			})
		},

		confirmPurchase() {
			this.confirmPurchaseInProcess = true;
			axios.post(`${serverURL}/products/confirm_purchase`, {}, {
				withCredentials: true
			}).then(response => {
				if (response.data.status == 'success') {
					this.getUserData().then(this.getProductsData).then(() => this.$router.push({ name: 'Home' }));
				}
			})
		}
	}
}
</script>
