<template>
    <div>
        <v-img src="/logo.png" alt="Logo" aspect-ratio="1" max-width="450" max-height="450"></v-img>
        <h1>404 Not Found</h1>
    </div>
</template>

<script>
export default {
    name: 'Error404'
}
</script>
