<template>
    <div align="center" class="mt-12">
        <v-progress-circular :size="300" color="primary" indeterminate></v-progress-circular>
    </div>
</template>

<script>
export default {
    name: 'Loading'
}
</script>
