<template>
	<div>
		<v-app-bar dark style="padding: 0 10%">
			<v-toolbar-title>Secondhand</v-toolbar-title>

			<template v-slot:extension>
				<v-tabs>
					<v-tab v-if="!user.isAuthenticated" :to="{ name: 'Login' }">
						<v-icon>mdi-login</v-icon>
						Login
					</v-tab>
					<v-tab v-if="!user.isAuthenticated" :to="{ name: 'Sign Up' }">
						<v-icon>mdi-account-plus-outline</v-icon>
						Sign Up
					</v-tab>

					<v-tab v-if="user.isAuthenticated" :to="{ name: 'Products' }">
						<v-icon>mdi-shopping-outline</v-icon>
						Products
					</v-tab>
					<v-tab v-if="user.isAuthenticated" :to="{ name: 'Basket' }">
						<v-icon>mdi-basket-outline</v-icon>
						Basket
					</v-tab>
					<v-tab v-if="user.isAuthenticated" :to="{ name: 'Purchases' }">
						<!-- <v-icon>mdi-Purchases-outline</v-icon> -->
						Purchases
					</v-tab>

					<v-spacer></v-spacer>

					<v-tab v-if="user.isAdmin" :to="{ name: 'Admin' }">
						<v-icon>mdi-account-tie-outline</v-icon>
						Admin
					</v-tab>

					<v-spacer></v-spacer>

					<v-tab v-if="user.isAuthenticated" :to="{ name: 'Profile' }">
						<v-icon>mdi-account-outline</v-icon>
						Profile
					</v-tab>
					<v-tab v-if="user.isAuthenticated" :to="{ name: 'Logout' }">
						<v-icon>mdi-logout</v-icon>
						Logout
					</v-tab>
				</v-tabs>
			</template>
		</v-app-bar>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'Navbar',
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	}
}
</script>
