<template>
	<div v-if="productsDataLoaded" style="margin: 0;">
		<v-row>
			<v-col col="12" md="4">
				<v-text-field v-model="searchProductsText" @keyup="resetSearchResults" outlined label="Search by name"></v-text-field>
			</v-col>
			<v-col col="12" md="4">
				<v-text-field v-model="searchCategoriesText" @keyup="resetSearchResults" outlined label="Search by category"></v-text-field>
			</v-col>
			<v-col col="12" md="4">
				<v-text-field v-model="searchManufacturersText" @keyup="resetSearchResults" outlined label="Search by manufacturer"></v-text-field>
			</v-col>
		</v-row>

		<v-row>
			<v-col col="12" md="4">
				<v-text-field v-model="searchPriceFrom" @keyup="resetSearchResults" :error-messages="errors.searchPriceFrom" outlined label="Price from"></v-text-field>
			</v-col>
			<v-col col="12" md="4">
				<v-text-field v-model="searchPriceTo" @keyup="resetSearchResults" :error-messages="errors.searchPriceTo" outlined label="Price to"></v-text-field>
			</v-col>
			<v-col col="12" md="4">
				<v-select
					label="Order by"
					item-text="text"
					item-value="code"
					v-model="orderBy"
					:items="orderByValues"
					@change="resetSearchResults"
					outlined></v-select>
			</v-col>
		</v-row>

		<v-card v-for="product in productsToShow" :key="product.id" class="ma-3 pa-3" style="display: inline-block;" min-width="250">
			<v-img :src="product.photo_path" alt="Product image" aspect-ratio="1" />

			<h1 style="display: inline;">{{ product.name }}</h1>
			<v-icon @click="() => addProductToBasket(product.id)" class="mb-3 ml-3" color="blue">mdi-basket-plus-outline</v-icon>

			<h2 style="font-weight: 500;">${{ product.price }}</h2>

			<h3 style="font-weight: 400;">{{ product.category.name }}</h3>
			<h3 style="font-weight: 400;">{{ product.manufacturer.name }}</h3>
		</v-card>

		<div v-if="productsToShow.length == 0" class="mt-5" style="text-align: center;">
			<h1>No products</h1>
		</div>
	</div>
	<div v-else>
		<Loading />
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import { deepCopy } from '@/Helpers'
import Loading from '@/components/Loading'
import { serverURL } from '@/Config'

export default {
	name: 'Products',
	components: {
		Loading
	},
	data: () => ({
		searchProductsText: '',
		searchCategoriesText: '',
		searchManufacturersText: '',
		searchPriceFrom: '',
		searchPriceTo: '',
		orderBy: '',

		orderByValues: [
			{
				text: 'Price',
				code: 'productPrice'
			},
			{
				text: 'Name',
				code: 'productName'
			},
			{
				text: 'Category',
				code: 'categoryName'
			},
			{
				text: 'Manufacturer',
				code: 'manufacturerName'
			}
		],

		productsToShow: [],

		errors: {
			searchPriceFrom: '',
			searchPriceTo: ''
		}
	}),
	computed: {
		...mapGetters({
			user: 'getUser',
			
			productsDataLoaded: 'getProductsDataLoaded',
			products: 'getProducts'
		})
	},
	async mounted() {
		if (!this.productsDataLoaded) {
			await this.getProductsData();
		}

		this.productsToShow = deepCopy(this.products);
	},
	methods: {
		...mapActions({
			getUserData: 'getUserData',
			getProductsData: 'getProductsData'
		}),

		resetErrors() {
			this.errors = {
				searchPriceFrom: '',
				searchPriceTo: ''
			}
		},

		async addProductToBasket(productId) {
			await axios.post(`${serverURL}/products/add_to_basket`, {
				product_id: productId
			}, {
				withCredentials: true
			}).then(async () => {
				await this.getUserData();
				await this.resetSearchResults();
			})
		},

		async resetSearchResults() {
			this.resetErrors();

			let priceFrom = Number(this.searchPriceFrom);
			if (!priceFrom && priceFrom != 0) {
				this.errors.searchPriceFrom = 'Price should be a number';
			}
			let priceTo = Number(this.searchPriceTo);
			if (!priceTo && priceTo != 0) {
				this.errors.searchPriceTo = 'Price should be a number';
			}

			await axios.post(`${serverURL}/products/get_filtered`, {
				product_name: this.searchProductsText,
				manufacturer_name: this.searchManufacturersText,
				category_name: this.searchCategoriesText,
				price_from: priceFrom,
				price_to: priceTo,
				order_by: this.orderBy
			}, {
				withCredentials: true
			}).then(async (response) => {
				this.productsToShow = response.data.products;
			})
		}
	}
}
</script>
