<template>
	<div v-if="productsDataLoaded" style="margin: 0;">
		<v-card v-for="purchase in purchases" :key="purchase.id" class="ma-3 pa-3">
			<v-card v-for="product in purchase.products" :key="product.id" class="ma-3 pa-3" style="display: inline-block;" min-width="250">
				<v-img :src="product.photo_path" alt="Product image" aspect-ratio="1" />

				<h1 style="display: inline;">{{ product.name }}</h1>
				<v-icon @click="() => addProductToBasket(product.id)" class="mb-3 ml-3" color="blue">mdi-basket-plus-outline</v-icon>

				<h2 style="font-weight: 500;">${{ product.price }}</h2>

				<h3 style="font-weight: 400;">{{ product.category.name }}</h3>
				<h3 style="font-weight: 400;">{{ product.manufacturer.name }}</h3>
			</v-card>
		</v-card>

		<div v-if="purchases.length == 0" class="mt-5" style="text-align: center;">
			<h1>No purchases</h1>
		</div>
	</div>
	<div v-else>
		<Loading />
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { deepCopy } from '@/Helpers'
import Loading from '@/components/Loading'

export default {
	name: 'Purchases',
	components: {
		Loading
	},
	data: () => ({
		searchProductsText: '',
		searchCategoriesText: '',
		searchManufacturersText: '',

		productsToShow: []
	}),
	computed: {
		...mapGetters({
			user: 'getUser',
			
			productsDataLoaded: 'getProductsDataLoaded',
			purchases: 'getPurchases'
		})
	},
	async mounted() {
		if (!this.productsDataLoaded) {
			await this.getProductsData();
		}

		this.purchasesToShow = deepCopy(this.purchases);
	},
	methods: {
		...mapActions({
			getUserData: 'getUserData',
			getProductsData: 'getProductsData'
		})
	}
}
</script>
