<template>
	<v-app v-if="userDataLoaded">
		<Navbar />
		<router-view class="mb-7" style="padding: 30px 10% 0 10%"></router-view>
	</v-app>
	<v-app v-else>
		<Loading />
	</v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import Navbar from '@/components/Navbar'
import Loading from '@/components/Loading'

export default {
	name: 'App',
	components: {
		Navbar,
		Loading
	},
	computed: {
		...mapGetters({
			user: 'getUser',
			userDataLoaded: 'getUserDataLoaded'
		})
	},
	methods: {
		...mapActions({
			getUserData: 'getUserData'
		})
	},
	mounted() {
		this.getUserData().then(() => {
			if (!this.user.isAuthenticated) {
				let allowedUnauthorizedRoutes = [ 'Login', 'Sign Up' ];
				let defaultUnauthorizedRoute = 'Login';
				if (!allowedUnauthorizedRoutes.includes(this.$router.currentRoute.name)) {
					this.$router.push({ name: defaultUnauthorizedRoute });
				}
			}
		});
	}
}
</script>
