<template>
	<div>
		<v-form @submit.prevent @submit="changePassword" ref="form" method="POST" style="margin: 0 20%;">
			<v-text-field label="Current Password" v-model="password" :rules="rules.required" :error-messages="errors.password" type="password"></v-text-field>
			<v-text-field label="New Password" v-model="newPassword" :rules="rules.required" :error-messages="errors.newPassword" type="password"></v-text-field>
			<v-text-field label="Retype New Password" v-model="retypeNewPassword" :rules="rules.required" :error-messages="errors.retypeNewPassword" type="password"></v-text-field>

			<div class="mt-3">
				<v-btn :to="{ name: 'Profile' }" color="info">Update Info</v-btn>
				<v-btn :loading="passwordUpdateInProcess" color="info" type="submit" class="ml-3">Change Password</v-btn>
			</div>

			<v-alert v-if="errors.formError" type="error" class="mt-9">{{ errors.formError }}</v-alert>
		</v-form>
	</div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex'

import router from '@/router/index'
import { serverURL } from '@/Config'

export default {
	name: 'ChangePassword',
	data: () => ({
		password: '',
		newPassword: '',
		retypeNewPassword: '',

		rules: {
			required: [ value => Boolean(value) || 'This field is required' ]
		},

		errors: {
			password: '',
			newPassword: '',
			retypeNewPassword: '',
		},

		passwordUpdateInProcess: false
	}),
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	mounted() {
		if (!this.user.isAuthenticated) {
			router.push({ name: 'Home' });
		}
	},
	methods: {
		resetErrors() {
			this.errors = {
				password: '',
				newPassword: '',
				retypeNewPassword: '',
			}
		},

		changePassword() {
			this.resetErrors();

			if (!this.$refs.form.validate()) return

			if (this.newPassword != this.retypeNewPassword) {
				this.errors.newPassword = 'Passwords are not equal';
				this.errors.retypeNewPassword = 'Passwords are not equal';

				return;
			}

			this.passwordUpdateInProcess = true;
			axios.post(`${serverURL}/auth/change_password`, {
				password: this.password,
				newPassword: this.newPassword
			}, {
				withCredentials: true
			}).then(response => {
				this.passwordUpdateInProcess = false;

				if (response.data.status == 'success') {
					router.push({ name: 'Home' })
				} else {
					this.errors.formError = response.data.message;
				}
			})
		}
	}
}
</script>
