<template>
	<v-form @submit.prevent @submit="loginMethod" ref="form" method="POST" style="margin: 0 20%;">
		<v-text-field label="Email or Phone" v-model="login" :rules="rules.required"></v-text-field>

		<!-- TODO: implement possibility to show/hide password (in all forms) -->
		<v-text-field label="Password" v-model="password" :rules="rules.required" type="password"></v-text-field>

		<v-checkbox v-model="rememberMe" label="Remember me"></v-checkbox>

		<v-btn :loading="loginInProcess" color="info" type="submit" class="mt-3">Login</v-btn>

		<v-alert v-if="errors.formError" type="error" class="mt-9">{{ errors.formError }}</v-alert>
	</v-form>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import router from '@/router/index'
import { serverURL } from '@/Config'

export default {
	name: 'Login',
	data: () => ({
		login: '',
		password: '',
		rememberMe: true,

		rules: {
			required: [ value => Boolean(value) || 'This field is required' ]
		},

		errors: {
			login: '',
			password: '',
			formError: ''
		},

		loginInProcess: false
	}),
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	mounted() {
		if (this.user.isAuthenticated) {
			console.dir(this.user);
			router.push({ name: 'Home' });
		}
	},
	methods: {
		...mapActions({
			updateData: 'getUserData'
		}),

		resetErrors() {
			this.errors = {
				login: '',
				password: '',
				formError: ''
			}
		},

		async loginMethod() {
			this.resetErrors();

			if (!this.$refs.form.validate()) return

			this.loginInProcess = true;
			await axios.post(`${serverURL}/auth/login`, {
				login: this.login,
				password: this.password,
				remember: this.rememberMe
			}, {
				withCredentials: true
			}).then(async (response) => {
				this.loginInProcess = false;

				if (response.data.status == 'success') {
					await this.updateData();
					router.push({ name: 'Home' });
				} else {
					this.errors.formError = response.data.message;
				}
			})
		}
	}
}
</script>
