<template>
	<div style="text-align: center;">
		<h2 class="mt-7">Do you really want to log out?</h2>
		<v-btn :loading="logoutInProgress" class="mt-7" @click="logout" color="info">Logout</v-btn>
	</div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'

import router from '@/router/index'
import { serverURL } from '@/Config'

export default {
	name: 'Logout',
	data: () => ({
		logoutInProgress: false
	}),
	methods: {
		...mapActions({
			updateData: 'getUserData',
			resetInitialState: 'resetInitialState'
		}),

		logout() {
			this.logoutInProgress = true;
			axios.post(`${serverURL}/auth/logout`, {}, {
				withCredentials: true
			}).then(response => {
				this.logoutInProgress = false;

				if (response.data.status == 'success') {
					this.resetInitialState().then(() => router.push({ name: 'Login' }));
				}
			})
		}
	}
}
</script>
