<template>
	<div>
		<v-form @submit.prevent @submit="signUp" ref="form" method="POST" style="margin: 0 20%;">
			<v-text-field label="Name" v-model="user.name" :rules="rules.required"></v-text-field>
			<v-text-field label="Surname" v-model="user.surname"></v-text-field>
			<v-text-field label="Email" v-model="user.email" :rules="rules.required"></v-text-field>
			<v-text-field label="Phone" v-model="user.phone" :rules="rules.required"></v-text-field>

			<div class="mt-3">
				<!-- TODO: implement tabs in Profile and ChangePassword in the better way -->
				<v-btn :loading="updatingInProcess" color="info" type="submit">Update Info</v-btn>
				<v-btn :to="{ name: 'Change Password' }" color="info" class="ml-3">Change Password</v-btn>
			</div>

			<v-alert v-if="errors.formError" type="error" class="mt-9">{{ errors.formError }}</v-alert>
		</v-form>
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

import router from '@/router/index'
import { serverURL } from '@/Config'

export default {
	name: 'Profile',
	data: () => ({
		tabModel: 0,   // 0 if updating info and 1 if changing password

		rules: {
			required: [ value => Boolean(value) || 'This field is required' ]
		},

		errors: {
			name: '',
			email: '',
			phone: '',
			formError: ''
		},

		updatingInProcess: false
	}),
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	methods: {
		resetErrors() {
			this.errors = {
				name: '',
				email: '',
				phone: ''
			}
		},

		signUp() {
			this.resetErrors();

			if (!this.$refs.form.validate()) return

			if (this.password != this.retypePassword) {
				this.errors.password = 'Passwords are not equal';
				this.errors.retypePassword = 'Passwords are not equal';

				return;
			}

			this.updatingInProcess = true;
			axios.post(`${serverURL}/auth/update_user_data`, {
				name: this.user.name,
				surname: this.user.surname,
				email: this.user.email,
				phone: this.user.phone
			}, {
				withCredentials: true
			}).then(response => {
				if (response.data.status == 'success') {
					router.push({ name: 'Home' })
				} else {
					this.errors.formError = response.data.message;
				}

				this.updatingInProcess = false;
			})
		}
	}
}
</script>
