<template>
	<div>
		<v-form @submit.prevent @submit="signUp" ref="form" method="POST" style="margin: 0 20%;">
			<v-text-field label="Name" v-model="name" :rules="rules.required"></v-text-field>
			<v-text-field label="Surname" v-model="surname"></v-text-field>
			<v-text-field label="Email" v-model="email" :rules="rules.required"></v-text-field>
			<v-text-field label="Phone" v-model="phone" :rules="rules.required"></v-text-field>
			<v-text-field label="Password" v-model="password" :rules="rules.required" :error-messages="errors.password" type="password"></v-text-field>
			<v-text-field label="Retype Password" v-model="retypePassword" :rules="rules.required" :error-messages="errors.retypePassword" type="password"></v-text-field>

			<v-checkbox v-model="rememberMe" label="Remember me"></v-checkbox>

			<v-btn :loading="signUpInProcess" color="info" type="submit" class="mt-3">Sign Up</v-btn>

			<v-alert v-if="errors.formError" type="error" class="mt-9">{{ errors.formError }}</v-alert>
		</v-form>
	</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

import router from '@/router/index'
import { serverURL } from '@/Config'

export default {
	name: 'SignUp',
	data: () => ({
		name: '',
		surname: '',
		email: '',
		phone: '',
		password: '',
		retypePassword: '',
		rememberMe: true,

		rules: {
			required: [ value => Boolean(value) || 'This field is required' ]
		},

		errors: {
			email: '',
			phone: '',
			password: '',
			retypePassword: '',
			formError: ''
		},

		signUpInProcess: false
	}),
	computed: {
		...mapGetters({
			user: 'getUser'
		})
	},
	mounted() {
		if (this.user.isAuthenticated) {
			router.push({ name: 'Home' });
		}
	},
	methods: {
		...mapActions({
			updateData: 'getUserData'
		}),

		resetErrors() {
			this.errors = {
				email: '',
				phone: '',
				password: '',
				retypePassword: '',
				formError: ''
			}
		},

		signUp() {
			this.resetErrors();

			if (!this.$refs.form.validate()) return

			if (this.password != this.retypePassword) {
				this.errors.password = 'Passwords are not equal';
				this.errors.retypePassword = 'Passwords are not equal';

				return;
			}

			this.signUpInProcess = true;
			axios.post(`${serverURL}/auth/sign_up`, {
				name: this.name,
				surname: this.surname,
				email: this.email,
				phone: this.phone,
				password: this.password,
				remember: this.rememberMe
			}, {
				withCredentials: true
			}).then(response => {
				if (response.data.status == 'success') {
					this.updateData().then(() => router.push({ name: 'Home' }));
				} else {
					this.errors.formError = response.data.message;
				}

				this.signUpInProcess = false;
			})
		}
	}
}
</script>
